@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bgc-color: #1B1A17;
    --bg-color: #0B0F0F;
    --text-bg-color: #9F958D;
    --main-bg-color: #fafafa;
    --text-bgc-color: #DBA663;
    --font-main: 'Rajdhani', sans-serif;
}

html {    
    overflow-x: hidden;
}

body {
    background-color: var(--bgc-color);
    font-family: var(--font-main);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 10%;
    background: transparent;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
}

.navbar a {
    text-decoration: none;
    color: var(--text-bgc-color);
    font-size: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
}

.navbar a:hover {
    color: var(--text-bg-color);
}

.home {
    background-color: var(--bgc-color);
    background-image: url('backgr/bghome.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0px -25px 39px 20px rgba(0,0,0,1);
}


.about {
    background-image: url('backgr/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.projects {
    background-image: url('backgr/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.photography {
    background-image: url('backgr/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.drone {
    background-image: url('backgr/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}


/* start sertifica */

.p-1{
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.p-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.sertifica-p h1{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;

}

.sertifica-p h2{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    padding-left: 5px;

}

.sertifica-p h3{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 25px;
    padding-top: 60px;
    text-align: center;

}

.sertifica-p p{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 20px;
    text-align: center;
    padding: 0 100px;
}

.sertifica{
    display: grid;
    grid-template-columns: 250px 180px 180px 250px 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.sertifica-1{
    grid-column: 3 / 4 ;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sertifica-2{
    grid-row: 2;
}

.sertifica-3{
    grid-row: 2;
    width: 150px;
    height: 180px;
}

.sertifica-4{
    grid-row: 2;
    width: 180px;
    height: 180px;
}

.sertifica-7{
    grid-row: 2;
}

.sertifica-8{
    grid-row: 2;
}

.sertifica img{
    width: 100%;
}

/* end sertifica */
/* start services */

.services {
    background-image: url('backgr/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 80px;
    
}

.card-services{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
}

.card{
    border: 1px solid var(--text-bg-color);
    width: 400px;
    height: 300px;
    padding: 3px;
}

.container-services h1 {
    color: var(--text-bgc-color);
    font-size: 26px;
    text-align: center;
    padding-bottom: 5px;
}

.container-services h3 {
    color: var(--text-bgc-color);
    font-size: 20px;
    padding-bottom: 3px;
}

.container-services p {
    color: var(--text-bgc-color);
    font-size: 16px;
    padding-bottom: 5px;
    width: 390px;
}

.container-services img{
    width: 260px;
}


/* end services */
/* start clients */

.clients {
    background-image: url('backgr/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.container-clients{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 160px;
    gap: 3rem;
}

.clients img{
    width: 250px;
}

.clietns-2{
    border: 1px solid var(--text-bg-color);
    border-radius: 50%;
    background-color: rgba(159, 149, 141, 0.7);
    padding: 1px;
}

.clietns-2 img{
    width: 220px;
    height: 220px;
}

/* end clients */
/* start contact */

.contact {
    background-image: url('backgr/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.social img{
    width: 60px;
    border: #fafafa 1px solid;
    padding: 5px;
    background-color: #fafafa;
    border-radius: 30px;
}

.container-contact p{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 30px;
}

.container-contact a{
    text-decoration: none;
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 30px;
}

.contact-a a{
    border-bottom: 1px solid var(--text-bgc-color);
}


/* end contact */