@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bgc-color: #1B1A17;
    --bg-color: #0B0F0F;
    --text-bg-color: #9F958D;
    --main-bg-color: #fafafa;
    --text-bgc-color: #DBA663;
    /* 219, 166, 99 */
    --font-main: 'Rajdhani', sans-serif;
}

html {    
    overflow-x: hidden;
}

body {
    background-color: var(--bgc-color);
    font-family: var(--font-main);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 10%;
    background: transparent;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
}

.navbar a {
    text-decoration: none;
    color: var(--text-bgc-color);
    font-size: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
}

.navbar a:hover {
    color: var(--text-bg-color);
}

.home {
    background-color: var(--bgc-color);
    background-image: url('backgr/bghome.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0px -25px 39px 20px rgba(0,0,0,1);
}




.photography {
    background-image: url('backgr/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.drone {
    background-image: url('backgr/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}


/* start sertifica */

.about {
    background-image: url('backgr/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-1{
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.p-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.sertifica-p h1{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;

}

.sertifica-p h2{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    padding-left: 5px;

}

.sertifica-p h3{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 25px;
    padding-top: 60px;
    text-align: center;

}

.sertifica-p p{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 20px;
    text-align: center;
    padding: 0 100px;
}

.sertifica{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 50px 0 30px 0;
}

.sertifica-1 img {
    width: 400px;
    border: 3px solid rgba(219, 166, 99, 0.8);
}

.sertifica-2{
    position: absolute;
}

.sertifica-2 img {
    width: 300px;
    border: 3px solid rgba(219, 166, 99, 0.8);
}

.sertifica-3 img {
    width: 400px;
    border: 3px solid rgba(219, 166, 99, 0.8);
}

/* end sertifica */
/* start project */

.projects {
    background-image: url('backgr/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 80px;
}

.project{
    display: grid;
    grid-template-columns: 500px auto;
    justify-content: center;
    align-items: center;
}

.card-project-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-project-1 h1{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.card-project-1 img{
    width: 500px;
    border: 3px solid rgba(219, 166, 99, 0.8);
}

.card-project-2{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 1rem;
}

.info-project-1{
    display: flex;
    flex-direction: row;
}

.info-project-1 h3{
    color: var(--text-bgc-color);
    font-size: 24px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.info-project-1 ul li{
    color: var(--text-bgc-color);
    font-size: 20px;
    margin-left: 40px;

}

.card-project-2 img{
    width: 280px;
    border: 3px solid rgba(219, 166, 99, 0.8);
}


/* end project */
/* start photo */

.photography ul {
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    list-style:none;
    width:955px;
    height:450px;
    border-radius:3px;
    overflow:hidden;
    box-shadow:1px 1px 3px 1px;
}
  
  
.photography li {
    position:relative;
    width:190px;
    height:450px;
    float:left;
    border-left:1px solid white;
    -webkit-transition:all 0.7s;
    -moz-transition:all 0.7s;
    transition:all 0.7s;
    box-shadow:-2px 0 10px 2px;
}
  
.photography ul li:first-child {
    border:none;
}
  
.photography img {
    width: auto;
    height:450px;
}
  
.photography ul:hover li {
    width:50px;  
}
  
.photography ul li:hover {
    width:750px;
}  

/* end photo */
/* start dron */



/* end dron */

/* start services */

.services {
    background-image: url('backgr/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 80px;
}

.container-services{
    display: grid;
    grid-template-columns: 500px auto;
    justify-content: center;
    align-items: center;
}

.card-services-1{
    padding-left: 50px;
}

.card-services-1 h1{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.card-services-1 img{
    width: 500px;
    border: 3px solid rgba(219, 166, 99, 0.8);
}

.card-services-2{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: row;
}

.card h2{
    color: var(--main-bg-color);
    font-size: 60px;
    border: 1px solid var(--text-bgc-color);
    background-color: rgba(219, 166, 99, 0.8);
    padding: 0 15px;
    margin-top: 50px;
    margin-left: -30px;
}

.card h3{
    color: var(--text-bgc-color);
    font-size: 24px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.card p{
    color: var(--text-bgc-color);
    font-size: 20px;
    padding-left: 20px;
}

.card img{
    width: 280px;
    border: 3px solid rgba(219, 166, 99, 0.8);
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.button a{
    text-decoration: none;
    color: var(--main-bg-color);
    font-size: 30px;
    border: 1px solid var(--text-bgc-color);
    background-color: rgba(219, 166, 99, 0.8);
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 5px;
}

.button a:hover{
    border: 1px solid var(--text-bg-color);
    background-color: rgba(159, 149, 141, 0.8);
    transition: 0.5s;
}

/* end services */
/* start services-2 */

.services-2{
    background-image: url('backgr/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 150px;
}

.container-services-2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


/* end services-2 */
/* start clients */

.clients {
    background-image: url('backgr/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.container-clients{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 140px;
    gap: 3rem;
}

.clients img{
    width: 250px;
}

.clietns-2{
    border: 1px solid var(--text-bg-color);
    border-radius: 50%;
    background-color: rgba(159, 149, 141, 0.7);
    padding: 1px;
}

.clietns-2 img{
    width: 220px;
    height: 220px;
}

/* end clients */
/* start contact */

.contact {
    background-image: url('backgr/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 250px;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.social img{
    width: 60px;
    border: #fafafa 1px solid;
    padding: 5px;
    background-color: #fafafa;
    border-radius: 30px;
}

.container-contact p{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 30px;
}

.container-contact a{
    text-decoration: none;
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 30px;
}

.contact-a{
    padding-top: 30px;
}

.gap-a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.contact-a a{
    border-bottom: 1px solid var(--text-bgc-color);
}


/* end contact */