@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bgc-color: #1B1A17;
  --bg-color: #0B0F0F;
  --text-bg-color: #9F958D;
  --main-bg-color: #fafafa;
  --text-bgc-color: #DBA663;
  /* 219, 166, 99 */
  --font-main: 'Rajdhani', sans-serif;
}

html {    
  overflow-x: hidden;
}

body {
  background-color: var(--bgc-color);
  font-family: var(--font-main);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 10%;
  background: transparent;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--text-bgc-color);
  font-size: 1.5rem;
  font-family: 'Rajdhani', sans-serif;
}

.navbar a:hover {
  color: var(--text-bg-color);
}

.home {
  background-color: var(--bgc-color);
  background-image: url('backgr/bghome.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  box-shadow: inset 0px -25px 39px 20px rgba(0,0,0,1);
}

.drone {
  background-image: url('backgr/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* start sertifica */

.about {
  background-image: url('backgr/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-1{
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
}

.p-2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.sertifica-p h1{
  color: var(--text-bgc-color);
  font-family: var(--font-main);
  font-size: 60px;
  text-align: center;
  padding-top: 60px;

}

.sertifica-p h2{
  color: var(--text-bgc-color);
  font-family: var(--font-main);
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
  padding-left: 5px;

}

.sertifica-p h3{
  color: var(--text-bgc-color);
  font-family: var(--font-main);
  font-size: 25px;
  padding-top: 60px;
  text-align: center;

}

.sertifica-p p{
  color: var(--text-bgc-color);
  font-family: var(--font-main);
  font-size: 20px;
  text-align: center;
  padding: 0 100px;
}

.sertifica{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 30px 0 10px 0;
}

.sertifica-1 img {
  width: 350px;
  border: 3px solid rgba(219, 166, 99, 0.8);
}

.sertifica-2{
  position: absolute;
}

.sertifica-2 img {
  width: 260px;
  border: 3px solid rgba(219, 166, 99, 0.8);
}

.sertifica-3 img {
  width: 400px;
  border: 3px solid rgba(219, 166, 99, 0.8);
}

/* end sertifica */
/* start project */

.projects {
  background-image: url('backgr/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 80px;
}

.project{
  display: grid;
  grid-template-columns: 500px auto;
  justify-content: center;
  align-items: center;
}

.card-project-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-project-1 h1{
  color: var(--text-bgc-color);
  font-family: var(--font-main);
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}

.card-project-1 img{
  width: 500px;
  border: 3px solid rgba(219, 166, 99, 0.8);
}

.card-project-2{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 1rem;
}

.info-project-1{
  display: flex;
  flex-direction: row;
}

.info-project-1 h3{
  color: var(--text-bgc-color);
  font-size: 24px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.info-project-1 ul li{
  color: var(--text-bgc-color);
  font-size: 20px;
  margin-left: 40px;
}

.card-project-2 img{
  width: 280px;
  border: 3px solid rgba(219, 166, 99, 0.8);
}

/* end project */
/* start photo */

.photography {
  background-image: url('backgr/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.photography ul {
  position:absolute;
  left:0;
  right: 0;
  margin: auto;
  list-style: none;
  width: 955px;
  height: 500px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow:1px 1px 3px 1px;
  margin-top: 80px;
}
  
.photography li {
  position: relative;
  width: 190px;
  height: 500px;
  float: left;
  border: 2px solid var(--text-bgc-color);
  transition: all 0.7s;
  box-shadow: -2px 0 10px 2px;
}
  
.photography ul li:first-child {
  order:none;
}
  
.photography img {
  width: auto;
  height: 500px;
}
  
.photography ul:hover li {
  width: 50px;  
}
  
.photography ul li:hover {
  width: 750px;
}  

/* end photo */
/* start dron */

/* end dron */
/* start services */

.services {
  background-image: url('backgr/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 80px;
}

.container-services{
  display: grid;
  grid-template-columns: 500px auto;
  justify-content: center;
  align-items: center;
}

.card-services-1{
  padding-left: 50px;
}

.card-services-1 h1{
    color: var(--text-bgc-color);
    font-family: var(--font-main);
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.card-services-1 img{
  width: 500px;
  border: 3px solid rgba(219, 166, 99, 0.8);
}

.card-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-services-2{
  padding-left: 100px;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card {
  display: flex;
  flex-direction: row;
}

.card h2{
  color: var(--main-bg-color);
  font-size: 60px;
  border: 1px solid var(--text-bgc-color);
  background-color: rgba(219, 166, 99, 0.8);
  padding: 0 15px;
  margin-left: -30px;
}

.card-h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h3{
  color: var(--text-bgc-color);
  font-size: 24px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.card p{
  color: var(--text-bgc-color);
  font-size: 20px;
  padding-left: 20px;
}

.card img{
  width: 280px;
  border: 3px solid rgba(219, 166, 99, 0.8);
}

/* end services */
/* start services-2 */

.services-2{
  background-image: url('backgr/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding-left: 80px;
  padding-top: 150px;
}

.container-services-2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.services-3{
  background-image: url('backgr/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding-left: 80px;
  padding-top: 150px;
}

.container-services-3 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


/* end services-2 */
/* start clients */

.clients {
  background-image: url('backgr/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.container-clients{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 140px;
  gap: 3rem;
}

.clients img{
  width: 250px;
}

.clietns-2{
  border: 1px solid var(--text-bg-color);
  border-radius: 50%;
  background-color: rgba(159, 149, 141, 0.7);
  padding: 1px;
}

.clietns-2 img{
  width: 220px;
  height: 220px;
}

/* end clients */
/* start contact */

.contact {
  background-image: url('backgr/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.container-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 250px;
}

.social{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3rem;
}

.social img{
  width: 60px;
  border: #fafafa 1px solid;
  padding: 5px;
  background-color: #fafafa;
  border-radius: 30px;
}

.container-contact p{
  color: var(--text-bgc-color);
  font-family: var(--font-main);
  font-size: 30px;
}

.container-contact a{
  text-decoration: none;
  color: var(--text-bgc-color);
  font-family: var(--font-main);
  font-size: 30px;
}

.contact-a{
  padding-top: 30px;
}

.gap-a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.contact-a a{
  border-bottom: 1px solid var(--text-bgc-color);
}

/* end contact */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
  
.button {
  position: relative;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: var(--color);
  border: 2px solid rgba(219, 166, 99, 0.8);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
  width: 220px;
}

.button-wh{
  margin-top: 560px;
}
  
.button:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}
  
.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}
  
.button:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
  0 0 30px var(--color),
  0 0 60px var(--color);
}
  
.button span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--color),
  0 0 20px var(--color),
  0 0 30px var(--color),
  0 0 50px var(--color),
  0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}
  
.button:hover span {
  opacity: 0;
  transition-delay: 0s;
}
  
.button span:nth-child(1),
.button span:nth-child(3) {
  width: 35px;
  height: 3px;
}
  
.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateX(0);
}
  
.button span:nth-child(2),
.button span:nth-child(4) {
  width: 3px;
  height: 25px;
}

.button-wh span:nth-child(2),
.button-wh span:nth-child(4) {
  width: 3px;
  height: 20px;
}
  
.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateY(0);
}
  
.button span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
}
  
.button:hover span:nth-child(1) {
  left: 50%;
}
  
.button span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
}
  
.button:hover span:nth-child(3) {
  right: 50%;
}
  
.button span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
}
  
.button:hover span:nth-child(2) {
  top: 50%;
}

.button-wh span:nth-child(2) {
  left: calc(50% - 2px);
  top: -30px;
  transform-origin: top;
}
  
.button span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
}

.button-wh span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -30px;
  transform-origin: bottom;
}
  
.button:hover span:nth-child(4 ) {
  bottom: 50%;
}

.button-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
}
/* !!!!!!!!!!!!!!!!!!! */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .box{
  position: relative;
  width: 320px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  transition: 0.5s;
}

.container .box::before{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::afte{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after{
  background: linear-gradient(315deg, var(--bg-color), var(--text-bg-color))
}

.container .box span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.container .box:hover span::before{
  top: -30px;
  left: 50px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.container .box span::after{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.container .box:hover span:after{
  /* bottom: -50px; */
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
  transition: 1s;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.container .box .content{
  position: relative;
  left: 0;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content
{
  /* left: -25px; */
  padding: 20px 10px;
}

.container .box .content p{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a:hover{
  background: #ffcf4d;
  border: 1px solid rgba(219, 166, 99, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}


/* !!!!!!!!!!!!!!!!!!!!! */

.social-ul {
  position:absolute;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
}

.social-ul li {
  list-style:none;
}

.social-ul .social-li a {
  display:block;
  position:relative;
  width:100px;
  height:100px;
  line-height:100px;
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:#404040;
  margin: 0 30px;
  transition:.5s;
}

.social-ul .social-li a span {
  position:absolute;
  transition: transform .5s;
}

.social-ul .social-li a span:nth-child(1),
.social-ul .social-li a span:nth-child(3){
  width:100%;
  height:3px;
  background:#404040;
}

.social-ul .social-li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}

.social-ul .social-li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}
  
.social-ul .social-li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}

.social-ul .social-li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}
  
.social-ul .social-li a span:nth-child(2),
.social-ul .social-li a span:nth-child(4){
  width:3px;
  height:100%;
  background:var(--text-bgc-color);
}

.social-ul .social-li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}

.social-ul .social-li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}

.social-ul .social-li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}

.social-ul .social-li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.social-img{
  padding-top: 15px;
}

.social-img{
  filter: grayscale(100%);
}

.social-img:hover{
  filter: grayscale(0);
}

